export HOUSING_LOCAL_DATA_DIR=./data

export PREFECT_RESULTS_DEFAULT_SERIALIZER=json
export PREFECT_HOME=.prefect
export PREFECT_LOGGING_LEVEL=DEBUG
export PREFECT_SERVER_API_HOST=127.0.0.1
export PREFECT_SERVER_API_PORT=4200

export HOUSING_DB_DATABASE=housing
export HOUSING_DB_HOST=localhost
export HOUSING_DB_PASSWORD=housing
export HOUSING_DB_PORT=5432
export HOUSING_DB_USERNAME=housing
export HOUSING_DB_CONNECTION_URL="postgresql+asyncpg://${HOUSING_DB_USERNAME}:${HOUSING_DB_PASSWORD}@${HOUSING_DB_HOST}:${HOUSING_DB_PORT}/${HOUSING_DB_DATABASE}"

export PREFECT_DB_DATABASE=prefect
export PREFECT_DB_HOST=localhost
export PREFECT_DB_PASSWORD=prefect
export PREFECT_DB_PORT=5432
export PREFECT_DB_USERNAME=prefect
export PREFECT_API_DATABASE_CONNECTION_URL="postgresql+asyncpg://${PREFECT_DB_USERNAME}:${PREFECT_DB_PASSWORD}@${PREFECT_DB_HOST}:${PREFECT_DB_PORT}/${PREFECT_DB_DATABASE}"

layout pipenv

make
